Repository lemonied/bello: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0

.lintstagedrc:

{
  "*.{css,less}": [
    "stylelint"
  ],
  "*.{js,jsx}": [
    "eslint --max-warnings 0"
  ],
  "*.{ts,tsx}": [
    "eslint --max-warnings 0"
  ]
}

feat: 优化Demo
  .dumirc.ts
  .github/workflows/gh-pages.yml
  .lintstagedrc
  README.md
  docs/bello.jpeg
  package.json
  src/Diform/components/DifItem.tsx
  src/Diform/components/DifListItem.tsx
  src/Diform/components/Diform.tsx
  src/Diform/components/DiformMark.tsx
  src/Diform/components/index.less
  src/Diform/examples/common.tsx
  src/Diform/hooks/useNames.ts
  src/Diform/hooks/useNextAnotherFieldName.ts
  src/Diform/hooks/useNextNames.ts
  src/Diform/hooks/useStoreValue.ts
  src/Diform/utils/Context.tsx
Due: stylelint, eslint --max-warnings 0

fix: github pages构建失败
  .github/workflows/gh-pages.yml
Due: none

deploy: 1085d2b47337c2f76b5e9cae456e5bc1c1984f5f
  .nojekyll
  202.e37a2348.async.js
  358.2dcea641.async.js
  372.c6110c11.async.js
  372.dec64465.chunk.css
  404.html
  Diform__index.md.778c6473.chunk.css
  Diform__index.md.d0a78653.async.js
  components/diform/index.html
  demos.09c7847b.async.js
  demos.317fc48f.chunk.css
  docs__guide.md.66e7f319.async.js
  docs__guide.md.778c6473.chunk.css
  docs__index.md.778c6473.chunk.css
  docs__index.md.e1120b68.async.js
  dumi__tmp-production__dumi__theme__ContextWrapper.0510c3d4.async.js
  guide/index.html
  index.html
  nm__dumi__dist__client__pages__404.3fcc43f0.async.js
  nm__dumi__dist__client__pages__404.8b85f2d9.chunk.css
  nm__dumi__dist__client__pages__Demo__index.257c779a.async.js
  nm__dumi__dist__client__pages__Demo__index.578aa5c0.chunk.css
  nm__dumi__theme-default__layouts__DocLayout__index.17479622.async.js
  umi.7ab43a5e.css
  umi.821a2bc3.js
  ~demos/:id/index.html
  ~demos/src-diform-demo-common/index.html
Due: stylelint, eslint --max-warnings 0

feat: 修改basePath
  .dumirc.ts
  package.json
Due: eslint --max-warnings 0

deploy: c0097ff848bfe3eab32d5729d324a2c7a1ea5d14
  404.html
  components/diform/index.html
  guide/index.html
  index.html
  umi.f5318808.js
  ~demos/:id/index.html
  ~demos/src-diform-demo-common/index.html
Due: eslint --max-warnings 0

feat: 修改publicPath
  .dumirc.ts
Due: eslint --max-warnings 0

deploy: 53b10048ec244788f37dbb454d5fc47c4f7ed962
  404.html
  components/diform/index.html
  guide/index.html
  index.html
  umi.ffb1fa8f.js
  ~demos/:id/index.html
  ~demos/src-diform-demo-common/index.html
Due: eslint --max-warnings 0

feat: 修改README.md
  README.md
Due: none

feat: 完善Diform文档
  package.json
  src/Diform/components/DifItem.tsx
  src/Diform/components/DifList.tsx
  src/Diform/components/DifListItem.tsx
  src/Diform/components/Diform.tsx
  src/Diform/index.md
  src/Diform/utils/Context.tsx
Due: eslint --max-warnings 0

deploy: 95987d25647298a13d0eb4dbd1f6ad7a95bca29c
  358.2dcea641.async.js
  358.3033d2bf.async.js
  404.html
  Diform__index.md.441e31ef.async.js
  Diform__index.md.d0a78653.async.js
  components/diform/index.html
  demos.09c7847b.async.js
  demos.f06bda78.async.js
  dumi__tmp-production__dumi__theme__ContextWrapper.0510c3d4.async.js
  dumi__tmp-production__dumi__theme__ContextWrapper.4eb7edb3.async.js
  guide/index.html
  index.html
  umi.00296818.js
  umi.ffb1fa8f.js
  ~demos/:id/index.html
  ~demos/src-diform-demo-common/index.html
Due: eslint --max-warnings 0

feat: 完善Diform文档
  .dumirc.ts
  docs/guide.md
  package.json
  src/Diform/examples/DynamicDiff.tsx
  src/Diform/index.md
  src/Diform/utils/store.ts
Due: eslint --max-warnings 0

deploy: 65ed575c9ac09abb81e5363ecfd540592117a64d
  404.html
  Diform__index.md.384ab255.async.js
  Diform__index.md.441e31ef.async.js
  components/diform/index.html
  demos.04485415.async.js
  demos.f06bda78.async.js
  docs__guide.md.66e7f319.async.js
  docs__guide.md.778c6473.chunk.css
  dumi__tmp-production__dumi__theme__ContextWrapper.4eb7edb3.async.js
  dumi__tmp-production__dumi__theme__ContextWrapper.55ddac0b.async.js
  index.html
  umi.00296818.js
  umi.49e4b5d0.js
  ~demos/:id/index.html
  ~demos/src-diform-demo-common/index.html
  ~demos/src-diform-demo-dynamicdiff/index.html
Due: stylelint, eslint --max-warnings 0

feat: 修改dependencies
  package.json
  yarn.lock
Due: none

deploy: 052c57cf4e359966569d8ced785110c7ba0b98a4
  202.e37a2348.async.js
  202.f90d9912.async.js
  358.55cf99b6.async.js
  404.html
  components/diform/index.html
  demos.04485415.async.js
  demos.828a393b.async.js
  dumi__tmp-production__dumi__theme__ContextWrapper.55ddac0b.async.js
  dumi__tmp-production__dumi__theme__ContextWrapper.852f0fdc.async.js
  index.html
  umi.49e4b5d0.js
  umi.a1b8d5d0.js
  ~demos/:id/index.html
  ~demos/src-diform-demo-dynamicdiff/index.html
Due: eslint --max-warnings 0

feat: 增加自定义diff样式功能
  src/Diform/components/DifItem.tsx
  src/Diform/components/DifListItem.tsx
  src/Diform/examples/TabList.tsx
  src/Diform/index.md
  src/Diform/index.ts
  src/PassProps/index.tsx
  src/index.ts
Due: eslint --max-warnings 0

deploy: 71d82fc35d920c4d405c66f246f3ec2c3e81e019
  202.f90d9912.async.js
  414.9489ae0a.async.js
  Diform__index.md.384ab255.async.js
  Diform__index.md.63f87f6b.async.js
  components/diform/index.html
  demos.6d610590.async.js
  demos.828a393b.async.js
  index.html
  umi.a1b8d5d0.js
  umi.ced3fe82.js
  ~demos/:id/index.html
  ~demos/src-diform-demo-dynamicdiff/index.html
  ~demos/src-diform-demo-tablist/index.html
Due: eslint --max-warnings 0

feat: diform组件增加自定义配置
  .dumirc.ts
  package.json
  src/Diform/components/DifItem.tsx
  src/Diform/components/DifListItem.tsx
  src/Diform/examples/CustomColor.tsx
  src/Diform/examples/CustomDiff.tsx
  src/Diform/examples/CustomI18n.tsx
  src/Diform/examples/DefaultI18n.tsx
  src/Diform/examples/DynamicDiff.tsx
  src/Diform/examples/TabList.tsx
  src/Diform/hooks/index.ts
  src/Diform/hooks/useDiformConfig.ts
  src/Diform/index.md
  src/Diform/index.ts
  src/Diform/utils/ConfigContext.tsx
  src/Diform/utils/constants.ts
  src/Diform/utils/model.ts
  src/PassProps/examples/common.tsx
  src/PassProps/index.md
Due: eslint --max-warnings 0

deploy: 5e9aa6e1dcba4776b0a8d5fecdd5cb838e9226dd
  358.55cf99b6.async.js
  414.9489ae0a.async.js
  518.c8c6c28b.async.js
  81.95f4d8c9.async.js
  874.a68d4181.async.js
  877.04848d66.async.js
  Diform__index.md.55883c3c.async.js
  Diform__index.md.63f87f6b.async.js
  PassProps__demos.317fc48f.chunk.css
  PassProps__demos.70939db3.async.js
  PassProps__index.md.778c6473.chunk.css
  PassProps__index.md.e3ced746.async.js
  components/diform/index.html
  components/pass-props/index.html
  demos.6d610590.async.js
  demos.f4a3cc46.async.js
  docs__index.md.e1120b68.async.js
  docs__index.md.fc3ad6ba.async.js
  dumi__tmp-production__dumi__theme__ContextWrapper.852f0fdc.async.js
  dumi__tmp-production__dumi__theme__ContextWrapper.d8478a33.async.js
  index.html
  umi.ced3fe82.js
  umi.da4253e9.js
  ~demos/:id/index.html
  ~demos/passprops-demo-common/index.html
  ~demos/src-diform-demo-customcolor/index.html
  ~demos/src-diform-demo-customdiff/index.html
  ~demos/src-diform-demo-customi18n/index.html
  ~demos/src-diform-demo-defaulti18n/index.html
  ~demos/src-diform-demo-dynamicdiff/index.html
  ~demos/src-diform-demo-tablist/index.html
Due: stylelint, eslint --max-warnings 0

feat: 文档更新
  package.json
  src/Diform/examples/DynamicDiff.tsx
Due: eslint --max-warnings 0

deploy: be79e23e512894514373ec6de3209254e3601888
  404.html
  components/diform/index.html
  components/pass-props/index.html
  demos.6e5be66e.async.js
  demos.f4a3cc46.async.js
  index.html
  umi.be0b304b.js
  ~demos/:id/index.html
  ~demos/passprops-demo-common/index.html
  ~demos/src-diform-demo-customcolor/index.html
  ~demos/src-diform-demo-customdiff/index.html
  ~demos/src-diform-demo-customi18n/index.html
  ~demos/src-diform-demo-defaulti18n/index.html
  ~demos/src-diform-demo-dynamicdiff/index.html
  ~demos/src-diform-demo-tablist/index.html
Due: eslint --max-warnings 0

feat: 新增Diform.Info组件
  README.md
  package.json
  src/Diform/components/DifInfo.tsx
  src/Diform/components/Diform.tsx
  src/Diform/examples/DynamicDiff.tsx
  src/Diform/hooks/useDiformConfig.ts
  src/Diform/index.md
  src/Diform/index.ts
  src/Diform/utils/Context.tsx
  src/Diform/utils/InfoContext.tsx
  src/Diform/utils/index.ts
Due: eslint --max-warnings 0

deploy: cd6a5f965ccc0c2835226ead2c8c37e3380ce718
  404.html
  81.91190ef8.async.js
  81.95f4d8c9.async.js
  Diform__index.md.2d6af55b.async.js
  Diform__index.md.55883c3c.async.js
  components/diform/index.html
  components/pass-props/index.html
  demos.1381d615.async.js
  demos.6e5be66e.async.js
  dumi__tmp-production__dumi__theme__ContextWrapper.80f6e58e.async.js
  dumi__tmp-production__dumi__theme__ContextWrapper.d8478a33.async.js
  index.html
  umi.1112dad4.js
  umi.be0b304b.js
  ~demos/:id/index.html
  ~demos/passprops-demo-common/index.html
  ~demos/src-diform-demo-customcolor/index.html
  ~demos/src-diform-demo-customdiff/index.html
  ~demos/src-diform-demo-customi18n/index.html
  ~demos/src-diform-demo-defaulti18n/index.html
  ~demos/src-diform-demo-dynamicdiff/index.html
  ~demos/src-diform-demo-tablist/index.html
Due: eslint --max-warnings 0

feat: 修改文档
  .dumirc.ts
  .npmrc
  docs/index.md
  package.json
  public/logo.png
  src/Diform/components/DifInfo.tsx
  src/Diform/components/DifListItem.tsx
  src/Diform/components/Diform.tsx
  src/Diform/examples/DynamicDiff.tsx
  src/Diform/hooks/useNextAnotherFieldName.ts
  src/Diform/index.md
  yarn.lock
Due: eslint --max-warnings 0

deploy: 6c6ceff27bea5a4c07037a7e944133977724b529
  277.5f34af91.async.js
  372.c6110c11.async.js
  404.html
  514.dec64465.chunk.css
  514.df393656.async.js
  518.c8c6c28b.async.js
  518.c98dc8da.async.js
  81.5e160ee7.async.js
  81.91190ef8.async.js
  877.04848d66.async.js
  Diform__index.md.2d6af55b.async.js
  Diform__index.md.daae820d.async.js
  components/diform/index.html
  components/pass-props/index.html
  demos.1381d615.async.js
  demos.dd116951.async.js
  docs__index.md.d8b096c6.async.js
  docs__index.md.fc3ad6ba.async.js
  dumi__tmp-production__dumi__theme__ContextWrapper.80f6e58e.async.js
  dumi__tmp-production__dumi__theme__ContextWrapper.cadd30b6.async.js
  index.html
  logo.png
  static/bello.f4037994.jpeg
  umi.1112dad4.js
  umi.c2df5e6d.js
  ~demos/:id/index.html
  ~demos/passprops-demo-common/index.html
  ~demos/src-diform-demo-customcolor/index.html
  ~demos/src-diform-demo-customdiff/index.html
  ~demos/src-diform-demo-customi18n/index.html
  ~demos/src-diform-demo-defaulti18n/index.html
  ~demos/src-diform-demo-dynamicdiff/index.html
  ~demos/src-diform-demo-tablist/index.html
Due: stylelint, eslint --max-warnings 0

feat: 自定义差异表单配置
  package.json
  src/Diform/components/DifComponent.tsx
  src/Diform/components/DifItem.tsx
  src/Diform/components/DifListItem.tsx
  src/Diform/components/Diform.tsx
  src/Diform/components/DiformMark.tsx
  src/Diform/examples/CustomComponent.tsx
  src/Diform/examples/CustomDiff.tsx
  src/Diform/examples/CustomWrapper.tsx
  src/Diform/hooks/index.ts
  src/Diform/hooks/useDiffStatus.ts
  src/Diform/index.md
  src/Diform/utils/ConfigContext.tsx
Due: eslint --max-warnings 0

deploy: 10a0de2973671caa03e52209e362f9f95accec1b
  277.5f34af91.async.js
  485.6a2a0ad2.async.js
  514.2cc204a7.async.js
  518.c98dc8da.async.js
  673.794bee55.async.js
  81.5e160ee7.async.js
  81.bac80231.async.js
  874.a68d4181.async.js
  961.369552d3.async.js
  996.d641cc9b.async.js
  Diform__index.md.0ae72838.async.js
  Diform__index.md.daae820d.async.js
  PassProps__demos.42e6392e.async.js
  PassProps__demos.70939db3.async.js
  PassProps__index.md.e3ced746.async.js
  PassProps__index.md.f0c61a41.async.js
  components/diform/index.html
  components/pass-props/index.html
  demos.254b3fe5.async.js
  demos.dd116951.async.js
  docs__index.md.5c737f8d.async.js
  docs__index.md.d8b096c6.async.js
  dumi__tmp-production__dumi__theme__ContextWrapper.cadd30b6.async.js
  dumi__tmp-production__dumi__theme__ContextWrapper.d67e2b40.async.js
  index.html
  nm__dumi__theme-default__layouts__DocLayout__index.17479622.async.js
  nm__dumi__theme-default__layouts__DocLayout__index.57d4b069.async.js
  umi.7492c8ff.js
  umi.c2df5e6d.js
  ~demos/:id/index.html
  ~demos/passprops-demo-common/index.html
  ~demos/src-diform-demo-customcolor/index.html
  ~demos/src-diform-demo-customcomponent/index.html
  ~demos/src-diform-demo-customdiff/index.html
  ~demos/src-diform-demo-customi18n/index.html
  ~demos/src-diform-demo-customwrapper/index.html
  ~demos/src-diform-demo-defaulti18n/index.html
  ~demos/src-diform-demo-dynamicdiff/index.html
  ~demos/src-diform-demo-tablist/index.html
Due: eslint --max-warnings 0

feat: diff状态显示防抖功能
  package.json
  src/Diform/components/DifItem.tsx
  src/Diform/components/DifListItem.tsx
  src/Diform/examples/CustomDiff.tsx
  src/Diform/hooks/useDiffStatus.ts
  src/Diform/utils/store.ts
Due: eslint --max-warnings 0

deploy: fd860ac4917aa0f4c2bc2908ffa2901596e1003b
  404.html
  81.62b729d5.async.js
  81.bac80231.async.js
  components/diform/index.html
  components/pass-props/index.html
  demos.254b3fe5.async.js
  demos.8246c869.async.js
  dumi__tmp-production__dumi__theme__ContextWrapper.1336ad19.async.js
  dumi__tmp-production__dumi__theme__ContextWrapper.d67e2b40.async.js
  index.html
  umi.9f2999a0.js
  ~demos/:id/index.html
  ~demos/passprops-demo-common/index.html
  ~demos/src-diform-demo-customcolor/index.html
  ~demos/src-diform-demo-customcomponent/index.html
  ~demos/src-diform-demo-customdiff/index.html
  ~demos/src-diform-demo-customi18n/index.html
  ~demos/src-diform-demo-customwrapper/index.html
  ~demos/src-diform-demo-defaulti18n/index.html
  ~demos/src-diform-demo-dynamicdiff/index.html
  ~demos/src-diform-demo-tablist/index.html
Due: eslint --max-warnings 0

feat: 修改文档
  src/Diform/index.md
  src/PassProps/index.md
Due: none

deploy: e2952b9e36b81c6f96530893623fc4af01eb053b
  404.html
  components/diform/index.html
  components/pass-props/index.html
  index.html
  umi.0c9976bc.js
  ~demos/:id/index.html
  ~demos/passprops-demo-common/index.html
  ~demos/src-diform-demo-customcolor/index.html
  ~demos/src-diform-demo-customcomponent/index.html
  ~demos/src-diform-demo-customdiff/index.html
  ~demos/src-diform-demo-customi18n/index.html
  ~demos/src-diform-demo-customwrapper/index.html
  ~demos/src-diform-demo-defaulti18n/index.html
  ~demos/src-diform-demo-dynamicdiff/index.html
  ~demos/src-diform-demo-tablist/index.html
Due: eslint --max-warnings 0

feat: 修改.dumirc.ts
  .dumirc.ts
Due: eslint --max-warnings 0

deploy: af0b449d897027323fb0eeae8ed1cd9f8c8d352e
  404.html
  673.794bee55.async.js
  673.9c0a58d6.async.js
  996.f1225a47.async.js
  components/diform/index.html
  components/pass-props/index.html
  index.html
  umi.88ce827f.js
  ~demos/:id/index.html
  ~demos/passprops-demo-common/index.html
  ~demos/src-diform-demo-customcolor/index.html
  ~demos/src-diform-demo-customcomponent/index.html
  ~demos/src-diform-demo-customdiff/index.html
  ~demos/src-diform-demo-customi18n/index.html
  ~demos/src-diform-demo-customwrapper/index.html
  ~demos/src-diform-demo-defaulti18n/index.html
  ~demos/src-diform-demo-dynamicdiff/index.html
  ~demos/src-diform-demo-tablist/index.html
Due: eslint --max-warnings 0

feat: 使用css-in-js
  package.json
  src/Diform/components/DiformMark.tsx
  src/Diform/components/index.less
  src/PassProps/index.md
Due: stylelint, eslint --max-warnings 0

deploy: 728563b4625133a934ea56f8dc83cb2f9b9f046e
  404.html
  514.df393656.async.js
  566.161743d5.async.js
  673.05fdb830.async.js
  673.9c0a58d6.async.js
  81.62b729d5.async.js
  81.cc261adf.async.js
  996.f1225a47.async.js
  PassProps__demos.317fc48f.chunk.css
  components/diform/index.html
  components/pass-props/index.html
  demos.317fc48f.chunk.css
  dumi__tmp-production__dumi__theme__ContextWrapper.1336ad19.async.js
  dumi__tmp-production__dumi__theme__ContextWrapper.2459e33e.async.js
  index.html
  nm__dumi__theme-default__layouts__DocLayout__index.17479622.async.js
  nm__dumi__theme-default__layouts__DocLayout__index.57d4b069.async.js
  umi.5c23e97b.js
  umi.88ce827f.js
  ~demos/:id/index.html
  ~demos/passprops-demo-common/index.html
  ~demos/src-diform-demo-customcolor/index.html
  ~demos/src-diform-demo-customcomponent/index.html
  ~demos/src-diform-demo-customdiff/index.html
  ~demos/src-diform-demo-customi18n/index.html
  ~demos/src-diform-demo-customwrapper/index.html
  ~demos/src-diform-demo-defaulti18n/index.html
  ~demos/src-diform-demo-dynamicdiff/index.html
  ~demos/src-diform-demo-tablist/index.html
Due: stylelint, eslint --max-warnings 0

feat: 修改表单的判空逻辑
  package.json
  src/Diform/components/DifComponent.tsx
  src/Diform/components/DifItem.tsx
  src/Diform/components/DifListItem.tsx
  src/Diform/examples/CustomComponent.tsx
  src/Diform/examples/DynamicDiff.tsx
  src/Diform/examples/TabList.tsx
  src/Diform/hooks/useDiformConfig.ts
  src/Diform/hooks/useNextAnotherFieldName.ts
  src/Diform/index.md
  src/Diform/index.ts
  src/Diform/utils/ConfigContext.tsx
  src/Diform/utils/Context.tsx
  src/Diform/utils/InfoContext.tsx
  src/Diform/utils/common.ts
  src/Diform/utils/constants.ts
  src/Diform/utils/model.ts
  src/Diform/utils/store.ts
Due: eslint --max-warnings 0

deploy: c3b81159e2bcfcded3db68166caad4dad5e613aa
  404.html
  81.cc261adf.async.js
  820.c4dd3996.async.js
  Diform__index.md.0ae72838.async.js
  Diform__index.md.333f19ae.async.js
  PassProps__demos.42e6392e.async.js
  PassProps__demos.8cf7cd0e.async.js
  components/diform/index.html
  components/pass-props/index.html
  demos.4dd97c71.async.js
  demos.8246c869.async.js
  dumi__tmp-production__dumi__theme__ContextWrapper.2459e33e.async.js
  dumi__tmp-production__dumi__theme__ContextWrapper.b11e4c0b.async.js
  index.html
  umi.98468bfe.js
  ~demos/:id/index.html
  ~demos/passprops-demo-common/index.html
  ~demos/src-diform-demo-customcolor/index.html
  ~demos/src-diform-demo-customcomponent/index.html
  ~demos/src-diform-demo-customdiff/index.html
  ~demos/src-diform-demo-customi18n/index.html
  ~demos/src-diform-demo-customwrapper/index.html
  ~demos/src-diform-demo-defaulti18n/index.html
  ~demos/src-diform-demo-dynamicdiff/index.html
  ~demos/src-diform-demo-tablist/index.html
Due: eslint --max-warnings 0

feat: 去除无用参数
  src/Diform/hooks/useStoreValue.ts
  src/Diform/utils/model.ts
  src/Diform/utils/store.ts
Due: eslint --max-warnings 0

deploy: bfe32af9a91300747810c8d0423e8b94cc534ea3
  404.html
  820.90077dc3.async.js
  820.c4dd3996.async.js
  components/diform/index.html
  components/pass-props/index.html
  index.html
  umi.86cc86a6.js
  ~demos/:id/index.html
  ~demos/passprops-demo-common/index.html
  ~demos/src-diform-demo-customcolor/index.html
  ~demos/src-diform-demo-customcomponent/index.html
  ~demos/src-diform-demo-customdiff/index.html
  ~demos/src-diform-demo-customi18n/index.html
  ~demos/src-diform-demo-customwrapper/index.html
  ~demos/src-diform-demo-defaulti18n/index.html
  ~demos/src-diform-demo-dynamicdiff/index.html
  ~demos/src-diform-demo-tablist/index.html
Due: eslint --max-warnings 0

feat: format markdown
  src/Diform/index.md
  src/PassProps/index.md
Due: none

deploy: e560638e6e5e1b4f0c732230a56b9e22142b68b8
  404.html
  566.bd2c4b0b.async.js
  components/diform/index.html
  components/pass-props/index.html
  index.html
  umi.eb697903.js
  ~demos/:id/index.html
  ~demos/passprops-demo-common/index.html
  ~demos/src-diform-demo-customcolor/index.html
  ~demos/src-diform-demo-customcomponent/index.html
  ~demos/src-diform-demo-customdiff/index.html
  ~demos/src-diform-demo-customi18n/index.html
  ~demos/src-diform-demo-customwrapper/index.html
  ~demos/src-diform-demo-defaulti18n/index.html
  ~demos/src-diform-demo-dynamicdiff/index.html
  ~demos/src-diform-demo-tablist/index.html
Due: eslint --max-warnings 0
